<div class="main">
  <!--Left image section-->
  <div class="display-inline-block left-image-section">
    <img [src]="url" alt="therapimg" />
  </div>

  <!--Right section-->
  <div class="display-inline-block right-form-section">
    <div class="languageselection">
      <div class="languageselectionoption">
        <select name="language" id="language">
          <option value="eng">ENG</option>
        </select>
      </div>
    </div>

    <div class="back-button"><img [src]="back" />&nbsp;<span>Back</span></div>

    <div class="profile">Forgot Password</div>
    <div class="text">We will send you an email to reset password.</div>

    <div class="input-box-for-forget-password">
      <input
        type="password"
        id="forgetpassword"
        value=""
        placeholder="Email Address"
      />
    </div>

    <div>
      <button class="actions">
        <span class="icon">SEND</span>
      </button>
    </div>
  </div>
</div>
