<div class="main">
  <!--Left image section-->
  <div class="display-inline-block left-image-section">
    <img [src]="url" alt="therapimg" />
  </div>

  <!--Right section-->
  <div class="display-inline-block right-form-section">
    <div class="languageselection">
      <div class="languageselectionoption">
        <select name="language" id="language">
          <option value="eng">ENG</option>
        </select>
      </div>
    </div>

    <div class="profile">Create New Password</div>
    <div class="text">Your new password must be different from previous.</div>
    <form [formGroup]="createpassword" (ngSubmit)="create()">
      <div class="create-password">
        <input
          type="password"
          id="create-password-box"
          value=""
          placeholder="New Password"
          formControlName="newpassword"
        /><br /><span
          class="text-danger"
          *ngIf="
            createpassword.controls['newpassword'].dirty &&
            createpassword.hasError('required', 'newpassword')
          "
          >*password is required</span
        >

        <input
          type="password"
          id="confirm-password-box"
          value=""
          placeholder="Confirm Password"
          formControlName="confirmpassword"
        />
      </div>
      <br />
      <span
        class="text-danger"
        *ngIf="
          createpassword.controls['confirmpassword'].dirty &&
          createpassword.hasError('required', 'confirmpassword')
        "
        >*password is required</span
      >

      <div>
        <button class="actions" [disabled]="!createpassword.valid">
          <span class="icon">CREATE NEW PASSWORD</span>
        </button>
      </div>
    </form>
  </div>
</div>
